# Data Understanding ,Descriptive Statistics

# Importing the Libraries

In [1]:
import pandas as pd

# Importing CSV File

In [2]:
df=pd.read_csv('C:\\Users\\dell\\Music\\tips.csv')

In [3]:
df.sample()

     total_bill   tip   sex smoker  day    time  size
105       15.36  1.64  Male    Yes  Sat  Dinner     2

## Understanding DATA
### total_bill: total bill at restaurent
#### 1.tip: tip given to waiter
#### 2.sex:gender of person who paid bill
#### 3.smoker: whether peson is smoker or not
#### 4.day:which day they came to restaurent
#### 5.time:which time they go to restourent
#### 6.size:total no. of members came to restourent

In [4]:
#Shape of given data 
df.shape

(244, 7)

In [5]:
#Describing data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [6]:
#Seprating the data for better understanding 
continues=['total_bill','tip']
discriptive=['sex','smoker','day','time','size']

# Performing Descriptive Statistics on the same data set

In [7]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
#Sum
df['total_bill'].sum()

4827.77

In [9]:
#Mean
df['total_bill'].mean()

19.785942622950824

In [10]:
#Median
df['total_bill'].median()

17.795

In [11]:
#Mode
df['sex'].mode()

0    Male
Name: sex, dtype: object

In [12]:
#Min
df['total_bill'].min()

3.07

In [13]:
#Max
df['total_bill'].max()

50.81

In [14]:
#Range
df['total_bill'].max()-df['total_bill'].min()

47.74

In [15]:
#Variance
df['total_bill'].var()

79.25293861397826

In [16]:
#STD
df['total_bill'].std()

8.902411954856856

In [17]:
#25 Percentile 
q1=df['total_bill'].quantile(0.25)

In [18]:
#75 Percentile
q3=df['total_bill'].quantile(0.75)

In [19]:
#IQR=Q3-Q1
IQR=q3-q1
IQR

10.779999999999998

# SKEWNESS
##### 1.SKEWNESS=0 =perfect distribution
##### 2.SKEWNESS=-1 to +1 normal distribution
##### 3.SKEWNESS=<-1 then it is left skewed
##### 4.SKEWNESS=>+1 then it is right skewed

In [20]:
df['total_bill'].skew()

1.1332130376158205

In [21]:
#Kurtosis
df['total_bill'].kurt()

1.2184840156638854

In [22]:
#Covariance
df[['total_bill','tip']].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [23]:
#Correlation
df[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000